<h1><%= @question.title %></h1>

<div class='errors'>
  <% if @response_errors %>
  <p> Response error: <%=@response_errors.join(". ")%></p>
  <% end %>

  <% if flash[:error] %>
    <div class="answer_response_error">Comment on Answer Error: <%= flash[:error] %></div>
  <% end %>  
</div>


<div>
  Content: <%= @question.content %>
  By: <%= @question_asker.username %>
  <ul>
  Comments: <% @question.responses.each do |response| %>
    <li><%= response.content %></li>
  <% end %>
</div>

<div>
  <%= @question.vote_count %>
</div>  

<div class='vote-errors'>
  <%= @vote_error if @vote_error %>
</div>

<div class='voting'> <%# mushi make this into a partial %>
  <%= link_to "upvote!", vote_path(@question.id, :vote_type => 'upvote'), :method => :post  %>
  <%= link_to "downvote!", vote_path(@question.id, :vote_type => 'downvote'), :method => :post  %>
</div>


<%= render :partial => 'questions_responses', :locals => {question_id: @question.id } %>

<% if @question.answers %>
  <ul class='answers'>
    <% @question.answers.each do |answer| %>
      <li>
        <%= answer.content %> | by: <%= username(answer) %>
        <%= render :partial => 'best_answer', :locals => {answer: answer, question: @question} %>
        <%= render :partial => 'answer_vote', :locals => { answer_id: answer.id } %>
        <%= answer.vote_count %>
          <ul>
            <% if answer.responses %>
              <% answer.responses.each do |response| %>
                <li><%= response.content %> | by: <%= username(response) %>
                <%= render :partial => 'response_vote', :locals => { response_id: response.id } %>
                <%= response.vote_count %>
                </li>
              <% end %>
            <% end %>
          </ul>    
        <%= render :partial => 'answers_responses', :locals => { answer_id: answer.id } %>
      </li>

    <% end %>   
  </ul>
<% end%>



<%= render :partial => 'answer_form', :locals => { question: @question, question_id: @question.id } %>



