<h1><%= @question.title %></h1>


<% if @errors %>
  <p> Answer errors! </p>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %> 


<div>
  Content: <%= @question.content %>
  By: <%= @question_asker.username %>
  Comments: <% @question.responses.each do |response| %>
    <%= response.content %>
  <% end %>
</div>

<div>
  <%= @question.vote_count %>
</div>  

<div class='vote-errors'>
  <%= render_vote_errors(@vote_error) %>
</div>

<div class='voting'>
  <%= link_to "upvote!", vote_path(@question.id, :vote_type => 'upvote'), :method => :post  %>
  <%= link_to "downvote!", vote_path(@question.id, :vote_type => 'downvote'), :method => :post  %>
</div>

<div class='response-errors'>
  <% if @response_errors %>
    <% @response_errors.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
  <%= render :partial => 'questions_responses', :locals => {question_id: @question.id } %>
</div>


<% if @question.answers %>
  <ul class='answers'>
    <% @question.answers.each do |answer| %>
      <li><%= answer.content %></li>
    <% end %>   
  </ul> 
<% end%>


<%= form_for(@answer, :remote => true) do |f| %>  <%# wasn't working when @answer was in form for %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.hidden_field :question_id, :value => @question.id %>
  <%= f.submit %>
<% end %>  


