<h1><%= @user.username %>'s DBC Overflow Profile</h1>

<div>Email:<%= @user.email %></div>

<div><%= link_to 'Post New Question!', new_question_path %></div>

<%= render 'questions' %>

<%= render 'answers' %>

